<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Filtering page</title>

</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file"/>
        <input type="submit" value="submit" />
    </form>
</body>
</html>

